body {
    background-color: #222;
    color: #CCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 30px;
    
}

ul {
    list-style-type: none;
}

li a {
    color: #CCC;
}

.p1::first-letter {
    font-size: 32px;
}

.fuente {
    color: green;
    text-decoration-line: overline;
}

.fuente:hover {
    color: orange;
    text-decoration-line: overline;
}

.fuente:visited {
    color: pink;
}